Client/ClientApp/ClientApp/Connected Services/SearchTrophy/TrophySearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchTrophies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTrophiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTrophiesResult" type="tns:ArrayOfTrophy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTrophy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Trophy" nillable="true" type="tns:Trophy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Trophy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="League" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Season" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchTrophiesSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTrophies" />
  </wsdl:message>
  <wsdl:message name="SearchTrophiesSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTrophiesResponse" />
  </wsdl:message>
  <wsdl:portType name="TrophySearchServiceSoap">
    <wsdl:operation name="SearchTrophies">
      <wsdl:input message="tns:SearchTrophiesSoapIn" />
      <wsdl:output message="tns:SearchTrophiesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrophySearchServiceSoap" type="tns:TrophySearchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchTrophies">
      <soap:operation soapAction="http://tempuri.org/SearchTrophies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrophySearchServiceSoap12" type="tns:TrophySearchServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchTrophies">
      <soap12:operation soapAction="http://tempuri.org/SearchTrophies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrophySearchService">
    <wsdl:port name="TrophySearchServiceSoap" binding="tns:TrophySearchServiceSoap">
      <soap:address location="https://localhost:44319/TrophySearchService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrophySearchServiceSoap12" binding="tns:TrophySearchServiceSoap12">
      <soap12:address location="https://localhost:44319/TrophySearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>